<template>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper container">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">
                                <settings_navbar></settings_navbar>
                                <div class="mt20">
                                    <settings_marketplace_navbar></settings_marketplace_navbar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form @submit="saveAppSettings" method="post">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Amazon Marketplace Settings</h5>
                                                <button type="submit" class="btn btn-info btn-sm float-right">Save
                                                </button>
                                            </div>
                                            <div class="card-body">
                                                <div class="alert alert-warning" v-if="errors.length > 0">
                                                    <div v-for="err in errors">{{ err }}</div>
                                                </div>
                                                <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Amazon Merchent Id</label>
                                                            <input class="form-control"
                                                                   v-model="marketplaceSettings.amazon.merchent_id"
                                                                   name="merchent_id"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Amazon Marketplace Id</label>
                                                            <input class="form-control"
                                                                   v-model="marketplaceSettings.amazon.martketplace_id"
                                                                   name="martketplace_id"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Amazon MWS Auth Token</label>
                                                            <input class="form-control"
                                                                   v-model="marketplaceSettings.amazon.auth_token"
                                                                   name="auth_token"/>
                                                        </div>
                                                        <a class="btn btn-primary btn-sm"
                                                           href="https://sellercentral.amazon.com/gp/mws/registration/register.html?signInPageDisplayed=2&developerName=Wmart&devMWSAccountId=166108829684"
                                                           target="_blank">Get MWS Auth Token</a>
                                                    </div>
                                                    <input type="hidden" name="marketplace"
                                                           v-model="marketplaceSettings.marketplace"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>

export default {
    data() {
        return {
            marketplaceSettings: {
                amazon: {
                    merchent_id: '',
                    martketplace_id: '',
                    auth_token: '',
                },
                settings_mode: 'marketplace_settings',
                marketplace: 'amazon',
            },
            errors: [],
            success: ''
        }
    },
    methods: {
        saveAppSettings: async function (e) {
            e.preventDefault();
            this.errors = [];
            this.success = "";
            var marketplaceSettings = this.marketplaceSettings;
            if (marketplaceSettings.amazon.merchent_id.length === 0 || marketplaceSettings.amazon.merchent_id === '') {
                this.errors.push('Merchent Id is required.');
                return false;
            }
            if (marketplaceSettings.amazon.martketplace_id.length === 0 || marketplaceSettings.amazon.martketplace_id === '') {
                this.errors.push('Marketplace Id is required.');
                return false;
            }
            if (marketplaceSettings.amazon.auth_token.length === 0 || marketplaceSettings.amazon.auth_token === '') {
                this.errors.push('Auth token is required.');
                return false;
            }
            var response = await this.$root.sendRequest('/settings/save-app-settings', true, 'POST', marketplaceSettings);
            if (response.errors !== undefined) {
                for (const item in response.errors) {
                    this.errors.push(response.errors[item][0]);
                }
            } else if (response.error == '0' && response.message !== undefined) {
                this.success = response.message;
                setTimeout(() => {
                    this.success = '';
                }, 3000)
            }
        },
        getAppSettings: function () {
            this.$root.sendRequest('/settings/get-app-settings/marketplace_settings', false, 'GET').then(res => {
                if (res.error == '0' && res.data !== undefined && Object.keys(res.data).length > 0) {
                    this.marketplaceSettings.amazon.merchent_id = res.data.amazon.merchent_id;
                    this.marketplaceSettings.amazon.martketplace_id = res.data.amazon.martketplace_id;
                    this.marketplaceSettings.amazon.auth_token = res.data.amazon.auth_token;
                }
            });
        }
    },
    mounted() {
        this.getAppSettings();
    }
}
</script>
