<template>
    <form @submit="saveFormula" method="post">
        <div class="modal-body">
            <div class="alert alert-warning" v-if="errors.length > 0">
                <div v-for="err in errors">{{ err }}</div>
            </div>
            <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
            <span v-if="formula_type == 'profit_formula'">
                <div class="form-group">
                <label>Formula Name</label>
                <input class="form-control" v-model="profit_formula.formula_name"/>
            </div>
                <div class="form-group">
                <label>Vendor Tax (%)</label>
                <input class="form-control" v-model="profit_formula.vendor_tax"/>
            </div>
            <div class="form-group">
                <label>Other Fees (%)</label>
                <input class="form-control" v-model="profit_formula.selling_fees"/>
            </div>
            </span>
            <span v-if="formula_type == 'selling_price_formula'">
                <div class="form-group">
                <label>Formula Name</label>
                <input class="form-control" v-model="selling_price_formula.formula_name"/>
            </div>
                <div class="form-group">
                <label>Supplier Tax (%)</label>
                <input class="form-control" v-model="selling_price_formula.supplier_tax"/>
            </div>
                <div class="form-group">
                <label>Walmart fee (%)</label>
                <input class="form-control" v-model="selling_price_formula.walmart_fee"/>
            </div>
            <div class="form-group">
                <label>Margin (%)</label>
                <input class="form-control" v-model="selling_price_formula.margin"/>
            </div>
            <div class="form-group">
                <label>Other Fees (%)</label>
                <input class="form-control" v-model="selling_price_formula.selling_fees"/>
            </div>
            <div class="form-group">
                <label>Minimum Profit ($)</label>
                <input class="form-control" v-model="selling_price_formula.minimum_profit"/>
            </div>
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" @click="closeModal" data-dismiss="modal">Close
            </button>
            <button type="submit" class="btn btn-sm btn-primary">Update</button>
        </div>
    </form>
</template>
<script>
export default {
    props: ['id', 'data'],
    data() {
        return {
            profit_formula: {
                vendor_tax: '',
                selling_fees: '',
                is_default: 0,
                id: ''
            },
            selling_price_formula: {
                minimum_profit: '',
                margin: '',
                walmart_fee: '',
                supplier_tax: '',
                selling_fees: '',
                is_default: 0,
                id: ''
            },
            formula: {},
            errors: [],
            formula_type: this.data,
            success: ''
        }
    },
    methods: {
        saveFormula: async function (e) {
            e.preventDefault();
            this.errors = [];
            this.success = "";
            if (this.formula_type == 'selling_price_formula')
                this.formula = this.selling_price_formula;
            else if (this.formula_type == 'profit_formula')
                this.formula = this.profit_formula;
            this.formula.formula_type = this.formula_type;
            var response = await this.$root.sendRequest('/settings/update-formula', true, 'PUT', this.formula);
            if (response.errors !== undefined) {
                for (const item in response.errors) {
                    this.errors.push(response.errors[item][0]);
                }
            } else if (response.error == '0' && response.message !== undefined) {
                this.success = response.message;
                setTimeout(() => {
                    window.location.reload();
                }, 2000)
            }
        },
        getFormula: async function () {
            var response = await this.$root.sendRequest('/settings/get-formula/' + this.formula_type + '/' + this.id, true, 'Get');
            if (response.errors !== undefined) {
                for (const item in response.errors) {
                    this.errors.push(response.errors[item][0]);
                }
            } else if (response.error == '1' && response.message !== undefined) {
                this.errors.push(response.message)
            } else if (response.error == '0' && response.data !== undefined) {
                if (this.formula_type == 'selling_price_formula'){
                    this.selling_price_formula = response.data;
                    this.selling_price_formula.id = this.id;
                }else if (this.formula_type == 'profit_formula'){
                    this.profit_formula = response.data;
                    this.profit_formula.id = this.id;
                }
            }
        },
        closeModal: function () {
            this.$parent.closeModal();
        }
    },
    mounted() {
        this.getFormula();
    }
}
</script>
