<template>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper container">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">
                                <settings_navbar></settings_navbar>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form @submit="saveAppSettings" method="post" id="general_settings_forms">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>General Settings</h5>
                                                <button type="submit" class="btn btn-info btn-sm float-right">Save
                                                </button>
                                            </div>
                                            <div class="card-body">
                                                <div class="alert alert-warning" v-if="errors.length > 0">
                                                    <div v-for="err in errors">{{ err }}</div>
                                                </div>
                                                <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Handling Time</label>
                                                            <input class="form-control"
                                                                   v-model="generalSettings.handling_time"
                                                                   name="handing_time"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Default Quantity</label>
                                                            <input class="form-control"
                                                                   v-model="generalSettings.default_qty"
                                                                   name="default_qty"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Display Per Page?</label>
                                                            <select class="form-control"
                                                                    v-model="generalSettings.display_per_page">
                                                                <option>50</option>
                                                                <option>100</option>
                                                                <option>200</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Vacation mode</label>
                                                            <select class="form-control"
                                                                    v-model="generalSettings.vacation_mode">
                                                                <option value="0">No</option>
                                                                <option value="1">Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Items Table Columns</label>
                                                    <v-select
                                                        class="items_table_columns"
                                                        v-model="generalSettings.items_table_columns"
                                                        :options="table_columns"
                                                        multiple
                                                    ></v-select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import "vue-select/dist/vue-select.css";

export default {
    data() {
        return {
            table_columns: [
                'image_url',
                'ref_id',
                'walmart_sku',
                'title',
                'selling_price',
                'walmart_stock',
                'supplier_name',
                'supplier_item_id',
                'supplier_variations',
                'seller_name',
                'supplier_price',
                'suppplier_shipping_cost',
                'supplier_stock',
                'profit',
                'item_status',
                'repricer_details',
                'actions',
            ],
            generalSettings: {
                handling_time: 0,
                default_qty: 0,
                display_per_page: 50,
                settings_mode: 'general_settings',
                vacation_mode: 0,
                items_table_columns: [],
            },
            errors: [],
            success: ''
        }
    },
    methods: {
        saveAppSettings: async function (e) {
            e.preventDefault();
            this.errors = [];
            this.success = "";
            var generalSettings = this.generalSettings;
            if (generalSettings.handling_time.length === 0 || generalSettings.handling_time === '') {
                this.errors.push('Handling Time is required.');
                return false;
            }
            if (generalSettings.default_qty.length === 0 || generalSettings.default_qty === '') {
                this.errors.push('Default Qty is required.');
                return false;
            }
            var response = await this.$root.sendRequest('/settings/save-app-settings', true, 'POST', generalSettings);
            if (response.errors !== undefined) {
                for (const item in response.errors) {
                    this.errors.push(response.errors[item][0]);
                }
            } else if (response.error == '0' && response.message !== undefined) {
                this.success = response.message;
                setTimeout(() => {
                    this.success = '';
                }, 3000)
            }
        },
        getAppSettings: function () {
            this.$root.sendRequest('/settings/get-app-settings/general_settings', false, 'GET').then(res => {
                if (res.error == '0' && res.data !== undefined && Object.keys(res.data).length > 0) {
                    this.generalSettings.default_qty = res.data.default_qty;
                    this.generalSettings.handling_time = res.data.handling_time;
                    this.generalSettings.display_per_page = (res.data.display_per_page !== undefined) ? res.data.display_per_page : this.generalSettings.display_per_page;
                    this.generalSettings.vacation_mode = (res.data.vacation_mode !== undefined) ? res.data.vacation_mode : this.generalSettings.vacation_mode;
                    this.generalSettings.items_table_columns = (res.data.items_table_columns !== undefined) ? res.data.items_table_columns : this.table_columns;
                }
            });
        }
    },
    mounted() {
        this.getAppSettings();
    }
}
</script>
