<template>
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper container">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <div class="page-header">
                <settings_navbar></settings_navbar>
                <div class="mt20">
                  <settings_marketplace_navbar></settings_marketplace_navbar>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form @submit="saveAppSettings" method="post">
                    <div class="card">
                      <div class="card-header">
                        <h5>Walmart Settings</h5>
                        <button type="submit" class="btn btn-info btn-sm float-right">Save
                        </button>
                      </div>
                      <div class="card-body">
                        <div class="alert alert-warning" v-if="errors.length > 0">
                          <div v-for="err in errors">{{ err }}</div>
                        </div>
                        <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Walmart Client Id</label>
                              <input class="form-control"
                                     v-model="marketplaceSettings.walmart.client_id"
                                     name="client_id"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Walmart Client Secret</label>
                              <input class="form-control"
                                     v-model="marketplaceSettings.walmart.client_secret"
                                     name="client_secret"/>
                            </div>
                          </div>
                          <input type="hidden" name="marketplace"
                                 v-model="marketplaceSettings.marketplace"/>
                        </div>
                        <hr>
                        <p>To get Client ID and Client Secret please follow the following steps.</p>
                        <p>1. Visit - <a href="https://developer.walmart.com/account/generateKey" target="_blank">https://developer.walmart.com/account/generateKey</a>
                        </p>
                        <p>2. Copy Client ID and Client Secret Key then paste into apps.</p>
                        <img src="/images/walmart-guide.png">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {
      marketplaceSettings: {
        walmart: {
          client_id: '',
          client_secret: '',
        },
        settings_mode: 'marketplace_settings',
        marketplace: 'walmart',
      },
      errors: [],
      success: ''
    }
  },
  methods: {
    saveAppSettings: async function (e) {
      e.preventDefault();
      this.errors = [];
      this.success = "";
      var marketplaceSettings = this.marketplaceSettings;
      if (marketplaceSettings.walmart.client_id.length === 0 || marketplaceSettings.walmart.client_id === '') {
        this.errors.push('Client Id is required.');
        return false;
      }
      if (marketplaceSettings.walmart.client_secret.length === 0 || marketplaceSettings.walmart.client_secret === '') {
        this.errors.push('Client Secret is required.');
        return false;
      }
      var response = await this.$root.sendRequest('/settings/save-app-settings', true, 'POST', marketplaceSettings);
      if (response.errors !== undefined) {
        for (const item in response.errors) {
          this.errors.push(response.errors[item][0]);
        }
      } else if (response.error == '1' && response.message !== undefined) {
        this.errors.push(response.message)
      } else if (response.error == '0' && response.message !== undefined) {
        this.success = response.message;
        setTimeout(() => {
          this.success = '';
        }, 3000)
      }
    },
    getAppSettings: function () {
      this.$root.sendRequest('/settings/get-app-settings/marketplace_settings', false, 'GET').then(res => {
        if (res.error == '0' && res.data !== undefined && Object.keys(res.data).length > 0) {
          this.marketplaceSettings.walmart.client_id = res.data.walmart.client_id;
          this.marketplaceSettings.walmart.client_secret = res.data.walmart.client_secret;
        }
      });
    }
  },
  mounted() {
    this.getAppSettings();
  }
}
</script>
