<template>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper container">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">
                                <settings_navbar></settings_navbar>
                                <div class="mt20">
                                    <formula-navbar></formula-navbar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Selling Price Formula</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Formula Name</th>
                                                        <th>Supplier Tax (%)</th>
                                                        <th>Walmart Fee (%)</th>
                                                        <th>Margin (%)</th>
                                                        <th>Other Fees (%)</th>
                                                        <th>Minimum Profit ($)</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="(formula, index) in formulas">
                                                        <td>{{ formula['formula_name'] }}</td>
                                                        <td>{{ formula['supplier_tax'] }}</td>
                                                        <td>{{ formula['walmart_fee'] }}</td>
                                                        <td>{{ formula['margin'] }}</td>
                                                        <td>{{ formula['selling_fees'] }}</td>
                                                        <td>{{ formula['minimum_profit'] }}</td> 
                                                        <td>
                                                            <button class="btn btn-primary btn-sm"
                                                                    @click="editFormula(index)"
                                                                    data-toggle="modal" data-target="#editFormulaModal">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-warning btn-sm"
                                                                    @click="deleteFormula(index)"
                                                                    data-toggle="modal"
                                                                    data-target="#deleteFormulaModal">Delete
                                                            </button>
                                                            <button class="btn btn-info btn-sm"
                                                                    v-bind:disabled="isDefault(formula)"
                                                                    @click="setDefaultFormula(index)"
                                                                    data-toggle="modal"
                                                                    data-target="#setDefaultFormulaModal">set as default
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <Modal v-if="editFormulaBtnClicked" :name="'editFormulaModal'"
                                   :ModalComponent="EditFormulaComponent"
                                   :id="selected_formula" :data="'selling_price_formula'"></Modal>
                            <Modal v-if="deleteFormulaBtnClicked" :name="'deleteFormulaModal'"
                                   :ModalComponent="DeleteFormulaComponent"
                                   :id="selected_formula" :data="'selling_price_formula'"></Modal>
                            <Modal v-if="setDefaultFormulaBtnClicked" :name="'setDefaultFormulaModal'"
                                   :ModalComponent="SetDefaultFormulaComponent"
                                   :id="selected_formula" :data="'selling_price_formula'"></Modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Modal from "../Layouts/Modal";
import EditFormula from "./EditFormula";
import DeleteFormula from "./DeleteFormula";
import SetDefaultFormulaComponent from "./SetDefaultFormulaComponent";
import FormulaNavbar from "../Layouts/FormulaNavbar";

export default {
    components: {FormulaNavbar, Modal},
    data() {
        return {
            editFormulaBtnClicked: false,
            deleteFormulaBtnClicked: false,
            setDefaultFormulaBtnClicked: false,
            formulas: [],
            EditFormulaComponent: {
                title: 'Edit Formula',
                Component: EditFormula
            },
            DeleteFormulaComponent: {
                title: 'Delete Formula',
                Component: DeleteFormula
            },
            SetDefaultFormulaComponent: {
                title: 'Set Default Formula',
                Component: SetDefaultFormulaComponent
            },
            selected_formula: ''
        }
    },
    methods: {
        isDefault: function (formula) {
            if (formula.is_default == '1')
                return true;
            else
                return false;
        },
        editFormula: function (index) {
            this.selected_formula = index;
            this.editFormulaBtnClicked = true;
        },
        deleteFormula: function (index) {
            this.selected_formula = index;
            this.deleteFormulaBtnClicked = true;
        },
        setDefaultFormula: function (index) {
            this.selected_formula = index;
            this.setDefaultFormulaBtnClicked = true;
        },
        getFormulaSettings: function () {
            this.$root.sendRequest('/settings/get-app-settings/formula_settings', false, 'GET').then(res => {
                if (res.error == '0' && res.data['selling_price_formula'] !== undefined && Object.keys(res.data['selling_price_formula']).length > 0) {
                    this.formulas = res.data['selling_price_formula'];
                }
            });
        },
        closeModal: function () {
            this.editFormulaBtnClicked = false;
        }
    },
    mounted() {
        this.getFormulaSettings();
    }
}
</script>
