<template>
    <form @submit="setDefaultFormula">
        <div class="modal-body">
            <div class="alert alert-warning" v-if="errors.length > 0">
                <div v-for="err in errors">{{ err }}</div>
            </div>
            <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
            <p>Are you sure you want to set as default ?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" @click="closeModal" data-dismiss="modal">Close
            </button>
            <button type="submit" class="btn btn-sm btn-primary">Update</button>
        </div>
    </form>
</template>
<script>
export default {
    props: ['id', 'data'],
    data() {
        return {
            formula: {
                id: this.id,
                formula_type: this.data
            },
            errors: [],
            success: ''
        }
    },
    methods: {
        setDefaultFormula: async function (e) {
            e.preventDefault();
            this.errors = [];
            this.success = "";
            var response = await this.$root.sendRequest('/settings/set-as-default-formula', true, 'PUT', this.formula);
            if (response.errors !== undefined) {
                for (const item in response.errors) {
                    this.errors.push(response.errors[item][0]);
                }
            } else if (response.error == '0' && response.message !== undefined) {
                this.success = response.message;
                setTimeout(() => {
                    window.location.reload();
                }, 2000)
            }
        },
        closeModal: function () {
            this.$parent.closeModal();
        }
    }
}
</script>
