<template>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper container">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">

                            </div>
                            Dashboard
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
