<template>
    <span>
        <router-link :to="{name:'edititem',params:{id:data.id}}">
        <i class="fas fa-pencil-alt"></i>
    </router-link>
    &nbsp;&nbsp;
    <a href="#!" data-toggle="modal"
       data-target="#DeleteItemModal" @click="deleteItem(data)"><i
        class="fas fa-trash"></i></a>
    </span>
</template>
<script>
export default {
    props: {
        data: {},
        deleteItem: {}
    }
}
</script>
