<template>
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper container">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <div class="page-header">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="page-header-title">
                      <router-link :to="{name:'allitems'}">
                        <button class="btn btn-primary btn-sm float-right">Back</button>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
              <form @submit="addItem" method="post">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Item Details</h5>
                        <button type="submit" class="btn btn-info btn-sm float-right">Save
                        </button>
                      </div>
                      <div class="card-body">
                        <div class="alert alert-warning" v-if="errors.length > 0">
                          <div v-for="err in errors" v-html="err"></div>
                        </div>
                        <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Reference Id</label>
                              <input class="form-control" v-model="ItemDetails.ref_id"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Supplier</label>
                              <select class="form-control" v-model="ItemDetails.supplier">
                                <option value="amazon">Amazon</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Supplier Link (asin)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.supplier_link"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Is Variation</label>
                              <select class="form-control" v-on:change="getVariations"
                                      v-model="ItemDetails.is_variation">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3"
                               v-if="Object.keys(supplierVariations).length > 0 && ItemDetails.supplier_link !== ''">
                            <div class="form-group">
                              <label>Supplier Variation</label>
                              <select class="form-control"
                                      v-model="ItemDetails.supplier_variation">
                                <option
                                    v-for="(supplierVariation, supplierVariationName) in supplierVariations"
                                    :value="supplierVariationName">
                                  {{ supplierVariation }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Item Sku</label>
                              <input class="form-control" v-model="ItemDetails.item_sku"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Handling Time</label>
                              <input class="form-control"
                                     v-model="ItemDetails.handling_time"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Pause</label>
                              <select class="form-control" v-model="ItemDetails.pause">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Default Quantity</label>
                              <input class="form-control"
                                     v-model="ItemDetails.default_qty"/>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Buy Box</label>
                              <select class="form-control" v-model="ItemDetails.buy_box">
                                <option value="1">Only buybox offer</option>
                                <option value="2">Only offers that are fulfilled by
                                  amazon
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Selling Price Formula</h5>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Select Formula</label>
                              <select class="form-control"
                                      v-model="ItemDetails.selling_formula_name">
                                <option value="0">select formula</option>
                                <option v-for="(selling_price_formulas,key) in selling_price_formula"
                                        :value="(key+1)">
                                  {{ selling_price_formulas['formula_name'] }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Add to Formula</label>
                              <select class="form-control"
                                      v-model="ItemDetails.selling_price_formula.add_to_formula">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3"
                               v-if="ItemDetails.selling_price_formula.add_to_formula == 1 && ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Formula Name</label>
                              <input class="form-control"
                                     v-model="ItemDetails.selling_price_formula.formula_name"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Supplier Tax (%)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.selling_price_formula.supplier_tax"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Walmart Fee (%)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.selling_price_formula.walmart_fee"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Margin (%)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.selling_price_formula.margin"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Selling/Other Fees (%)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.selling_price_formula.selling_fees"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <div class="form-group">
                              <label>Minimum Profit ($)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.selling_price_formula.minimum_profit"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.selling_formula_name == 0">
                            <button class="btn btn-primary btn-sm mt25" data-toggle="modal"
                                    data-target="#checkPrice" @click="checkPriceClicked = !checkPriceClicked"
                                    type="button">check fix
                              price
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Profit Formula</h5>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Select Profit Formula</label>
                              <select class="form-control"
                                      v-model="ItemDetails.formula_name">
                                <option value="0">select formula</option>
                                <option v-for="(profit_formula,key) in profit_formulas"
                                        :value="(key+1)">
                                  {{ profit_formula['formula_name'] }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.formula_name == 0">
                            <div class="form-group">
                              <label>Add to Formula</label>
                              <select class="form-control"
                                      v-model="ItemDetails.profit_formula.add_to_formula">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3"
                               v-if="ItemDetails.profit_formula.add_to_formula == 1 && ItemDetails.formula_name == 0">
                            <div class="form-group">
                              <label>Formula Name</label>
                              <input class="form-control"
                                     v-model="ItemDetails.profit_formula.formula_name"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.formula_name == 0">
                            <div class="form-group">
                              <label>Vandor Tax (%)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.profit_formula.vendor_tax"/>
                            </div>
                          </div>
                          <div class="col-md-3" v-if="ItemDetails.formula_name == 0">
                            <div class="form-group">
                              <label>Selling/Other Fees (%)</label>
                              <input class="form-control"
                                     v-model="ItemDetails.profit_formula.selling_fees"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-if="checkPriceClicked" :name="'checkPrice'" :data="ItemDetails.selling_price_formula"
           :ModalComponent="CheckFixPriceComponent"></Modal>
  </div>
</template>
<script>
import CheckPriceComponent from "./CheckPriceComponent";
import Modal from "../Layouts/Modal";

export default {
  components: {Modal},
  data() {
    return {
      CheckFixPriceComponent: {
        title: 'Check Price',
        Component: CheckPriceComponent
      },
      checkPriceClicked: false,
      ItemDetails: {
        ref_id: '',
        id: '',
        supplier_link: '',
        is_variation: 0,
        supplier_variation: '',
        supplier: 'amazon',
        item_sku: '',
        handling_time: '',
        pause: 0,
        default_qty: '',
        selling_price_formula: {
          add_to_formula: 0,
          formula_name: '',
          supplier_tax: '',
          walmart_fee: '',
          margin: '',
          selling_fees: '',
          minimum_profit: ''
        },
        buy_box: 1,
        formula_name: 0,
        selling_formula_name: 0,
        profit_formula: {
          add_to_formula: 0,
          formula_name: '',
          vendor_tax: '',
          selling_fees: ''
        },
      },
      is_loading: false,
      profit_formulas: [],
      selling_price_formula: [],
      supplierVariations: [],
      errors: [],
      success: ''
    }
  },
  methods: {
    closeModal: function () {
      this.checkPriceClicked = false;
    },
    getItemDetails: async function (id) {
      var response = await this.$root.sendRequest('/items/get-item/' + id);
      if (response.error == '1' && response.message !== undefined) {
        this.errors.push(response.message)
      } else if (response.error == '0' && response.data !== undefined) {
        this.ItemDetails.ref_id = response.data.ref_id;
        this.ItemDetails.id = response.data.id;
        this.ItemDetails.supplier_link = response.data.supplier_item_id;
        this.ItemDetails.is_variation = response.data.is_variations;
        if (this.ItemDetails.is_variation == '1')
          this.getVariations();
        this.ItemDetails.supplier_variation = response.data.supplier_variations;
        this.ItemDetails.item_sku = response.data.walmart_sku;
        this.ItemDetails.handling_time = response.data.handling_time;
        this.ItemDetails.pause = response.data.pause_repricing;
        this.ItemDetails.default_qty = response.data.default_qty;
        this.ItemDetails.buy_box = response.data.buy_box;
        const formula_settings = JSON.parse(response.data.formula_settings);
        this.ItemDetails.profit_formula.vendor_tax = formula_settings['profit_formula'].vendor_tax;
        this.ItemDetails.profit_formula.selling_fees = formula_settings['profit_formula'].selling_fees;

        this.ItemDetails.selling_price_formula.supplier_tax = formula_settings['selling_price_formula'].supplier_tax;
        this.ItemDetails.selling_price_formula.walmart_fee = formula_settings['selling_price_formula'].walmart_fee;
        this.ItemDetails.selling_price_formula.margin = formula_settings['selling_price_formula'].margin;
        this.ItemDetails.selling_price_formula.selling_fees = formula_settings['selling_price_formula'].selling_fees;
        this.ItemDetails.selling_price_formula.minimum_profit = formula_settings['selling_price_formula'].minimum_profit;
      }
    },
    getVariations: async function () {
      this.errors = [];
      this.success = "";
      this.supplierVariations = [];
      if (this.ItemDetails.is_variation == 1 && this.ItemDetails.supplier_link !== '') {
        var response = await this.$root.sendRequest('/items/get-variations', true, 'POST', {supplier_link: this.ItemDetails.supplier_link});
        if (response.errors !== undefined) {
          this.ItemDetails.is_variation = 0;
          this.errors.push('Request timeout please try again later');
          for (const item in response.errors) {
            this.errors.push(response.errors[item][0]);
          }
        } else if (response.error == '0' && response.variations !== undefined) {
          if (Object.keys(response.variations).length == 0) {
            this.ItemDetails.is_variation = 0;
            this.errors.push('Variations not found');
          } else {
            this.supplierVariations = response.variations;
            if (this.ItemDetails.supplier_variation == '')
              this.ItemDetails.supplier_variation = Object.keys(this.supplierVariations)[0];
          }
        }
      } else {
        this.ItemDetails.is_variation = 0;
      }
    },
    addItem: async function (e) {
      e.preventDefault();
      this.errors = [];
      this.success = "";
      var itemDetails = this.ItemDetails;
      var response = await this.$root.sendRequest('/items/add-item', true, 'POST', itemDetails);
      if (response.errors !== undefined) {
        for (const item in response.errors) {
          this.errors.push(response.errors[item][0]);
        }
      } else if (response.error == '1' && response.message !== undefined) {
        this.errors.push(response.message)
      } else if (response.error == '0' && response.message !== undefined) {
        this.success = response.message;
        setTimeout(() => {
          this.success = '';
          this.$router.push({name: 'allitems'})
        }, 3000)
      }
    },
    getDefaultSettings: function () {
      this.$root.sendRequest('/settings/get-app-settings', false, 'GET').then(res => {
        if (res.error == '0' && res.data !== undefined && Object.keys(res.data).length > 0) {
          if (res.data.general_settings !== undefined && res.data.general_settings.handling_time !== undefined && res.data.general_settings.default_qty !== undefined) {
            this.ItemDetails.handling_time = res.data.general_settings.handling_time;
            this.ItemDetails.default_qty = res.data.general_settings.default_qty;
          }
          if (res.data.formula_settings !== undefined) {
            this.profit_formulas = res.data.formula_settings['profit_formula'];
            this.selling_price_formula = res.data.formula_settings['selling_price_formula'];
          }
          if (res.data.marketplace_settings === undefined || res.data.marketplace_settings.walmart === undefined || res.data.marketplace_settings.walmart.client_id === undefined && res.data.marketplace_settings.walmart.client_secret === undefined
              || res.data.marketplace_settings.walmart.client_id.length === 0 || res.data.marketplace_settings.walmart.client_secret.length === 0) {
            this.errors.push('please configure the walmart settings <a href="/settings/marketplace/walmart" class="btn btn-link btn-sm">here</a>')
          }
        }
      });
    }
  },
  mounted() {
    this.getDefaultSettings();
    if (this.$route.params.id !== undefined) {
      this.getItemDetails(this.$route.params.id);
    }
  }
}
</script>
