<style>
table{
    display: table;
    table-layout: fixed;
    word-break: break-all;;
}
.table td, .table th{
    white-space: break-spaces;
}
td:last-child{
    white-space: inherit;
}
</style>
<template>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-header">

                            </div>
                            <div class="d-flex justify-content-center">
                                <router-link :to="{name:'additem'}">
                                    <button class="btn btn-primary btn-sm mr5">Add Item</button>
                                </router-link>
                                <button class="btn btn-primary btn-sm mr5" @click="viewQueue"
                                        data-toggle="modal" data-target="#viewQueueModal"
                                        v-if="warningMessage.length > 0">View Queue Items
                                </button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div v-if="warningMessage.length > 0"
                                     class="alert alert-warning mt20 col-md-4 text-center">{{ warningMessage }}
                                </div>
                            </div>
                            <data-table
                                :per-page="perPage"
                                :filters="filters"
                                @loading="showLoader"
                                @finished-loading="initDataTable"
                                :columns="columns" class="table-bordered" :url="(showItemsTable)?getAllItemsApiUrl:''">
                                <div slot="filters" slot-scope="{ tableFilters, perPage }">
                                    <div class="row mb-2 justify-content-between">
                                        <div class="col-1">
                                            <div class="form-group">
                                                <select class="form-control" v-model="tableFilters.filters.length">
                                                    <option :key="page" v-for="page in perPage">{{ page }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group">
                                                <input
                                                    name="name"
                                                    class="form-control"
                                                    v-model="tableFilters.search"
                                                    placeholder="Search"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </data-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Modal v-if="viewQueueBtnClicked" :name="'viewQueueModal'" @event="handler" :is_big_modal="true"
               :data="queueItems"
               :ModalComponent="ViewQueueComponent"></Modal>
        <Modal v-if="deleteItemBtnClicked" :name="'DeleteItemModal'" @event="closeDeleteQueueModal" :id="deleteItemId"
               :ModalComponent="DeleteQueueComponent"></Modal>
    </div>
</template>
<script>

import Modal from "../Layouts/Modal";
import ViewQueueComponent from "./ViewQueueComponent";
import DeleteQueueComponent from "./DeleteQueueComponent";
import ActionsComponent from "./ActionsComponent";

export default {
    mounted() {
        const el = document.querySelector('.laravel-vue-datatable');
        const parent = el.parentNode;
        parent.classList.remove("table-responsive");
        this.getPendingItems();
        this.getAllowedColumns();
    },
    components: {Modal},
    methods: {
        showLoader: function () {
            this.$root.requestLoader = true;
        },
        initDataTable: function () {
            window.scrollTo(0, 0);
            window.onscroll = this.stickyHeader();
            this.$root.requestLoader = false;
        },
        getPendingItems: async function () {
            var response = await this.$root.sendRequest('/items/get-pending-items');
            if (response.error == '0' && response.data !== undefined && response.data.length > 0) {
                this.warningMessage = 'you have ' + response.data.length + ' queue items';
                this.queueItems = response.data;
            }
        },
        viewQueue: function () {
            this.viewQueueBtnClicked = true;
        },
        stickyHeader: function () {
            var header = document.querySelector(".laravel-vue-datatable-thead-tr");
            var sticky = header.offsetTop;
            if (document.querySelector("#layout-sidenav").getBoundingClientRect().top > sticky) {
                header.classList.add("sticky");
                header.style.top = (document.querySelector("#layout-sidenav").getBoundingClientRect().top + 50) + 'px';
            } else {
                header.classList.remove("sticky");
                header.style.top = null;
            }
        },
        closeModal: function () {
            this.viewQueueBtnClicked = false;
            this.closeDeleteQueueModal();
        },
        closeDeleteQueueModal: function () {
            this.viewQueueBtnClicked = false;
            this.deleteItemBtnClicked = false;
        },
        manageActions: function (data) {
            this.deleteItemId = data.id;
            this.deleteItemBtnClicked = true;
        },
        handler: function (params) {
            this.deleteItemId = params;
            this.closeModal();
            this.deleteItemBtnClicked = true;
        },
        getAllowedColumns: function () {
            var columns = [];
            this.$root.sendRequest('/settings/get-app-settings/general_settings', false, 'GET').then(res => {
                if (res.error == '0' && res.data !== undefined && Object.keys(res.data).length > 0) {
                    if (res.data.vacation_mode == '1')
                        this.warningMessage = 'store is on vacation mode';
                    if (res.data.display_per_page) {
                        this.filters.length = res.data.display_per_page;
                    }
                    this.showItemsTable = true;
                    this.columns.forEach(value => {
                        if (value.name !== undefined && res.data.items_table_columns !== undefined) {
                            if (res.data.items_table_columns.includes(value.name)) {
                                columns.push(value);
                            }
                        }
                    })
                    if (columns.length > 0)
                        this.columns = columns;
                }
            });
        }
    },
    data() {
        return {
            loading: false,
            showItemsTable: false,
            deleteItemId: '',
            queueItems: [],
            deleteItemBtnClicked: false,
            ViewQueueComponent: {
                title: 'View Queue Items',
                Component: ViewQueueComponent
            },
            DeleteQueueComponent: {
                title: 'Delete Queue Items',
                Component: DeleteQueueComponent
            },
            viewQueueBtnClicked: false,
            warningMessage: '',
            filters: {
                length: 50
            },
            perPage: [
                50, 100, 200
            ],
            getAllItemsApiUrl: this.$root.apiUrl + "/items/get-all-items",
            columns: [
                {
                    label: '',
                    name: 'image_url',
                    orderable: false,
                    width: 9,
                },
                {
                    label: 'Ref Id',
                    name: 'ref_id',
                    orderable: true,
                    width: 10,
                },
                {
                    label: 'Walmart Sku',
                    name: 'walmart_sku',
                    orderable: true,
                    width: 17,
                },
                {
                    label: 'Title',
                    name: 'title',
                    orderable: true,
                    width: 30,
                },
                {
                    label: 'Selling Price',
                    name: 'selling_price',
                    orderable: true,
                    width: 18,
                },
                {
                    label: 'Stock',
                    name: 'walmart_stock',
                    orderable: true,
                    width: 10,
                },

                {
                    label: 'Supplier',
                    name: 'supplier_name',
                    orderable: true,
                    width: 13,
                },
                {
                    label: 'Supplier Link',
                    name: 'supplier_item_id',
                    orderable: true,
                    width: 16,
                },
                {
                    label: 'Supplier Variations',
                    name: 'supplier_variations',
                    orderable: true,
                    width: 21,
                },
                {
                    label: 'Seller Name',
                    name: 'seller_name',
                    orderable: true,
                    width: 16,
                },
                {
                    label: 'Supplier Price',
                    name: 'supplier_price',
                    orderable: true,
                    width: 17,
                },
                {
                    label: 'Shipping Cost',
                    name: 'supplier_shipping_cost',
                    orderable: true,
                    width: 17,
                },
                {
                    label: 'Supplier Stock',
                    name: 'supplier_stock',
                    orderable: true,
                    width: 17,
                },
                {
                    label: 'Profit',
                    name: 'profit',
                    orderable: true,
                    width: 10,
                },
                {
                    label: 'Repricer Status',
                    name: 'item_status',
                    orderable: true,
                    width: 18,
                },
                {
                    label: 'Repricer Details',
                    name: 'repricer_details',
                    orderable: false,
                    width: 17,
                },
                {
                    label: 'Actions',
                    name: 'actions',
                    orderable: false,
                    event: "deleteItem",
                    handler: this.manageActions,
                    component: ActionsComponent,
                    width: 10,
                },
            ]
        }
    }
}
</script>
