<template>
  <div>
    <div class="modal-body">
      <div class="alert alert-warning" v-if="error">{{ message }}</div>
      <div class="form-group">
        <label>Supplier Price</label>
        <input class="form-control" v-model="priceObject.supplierPrice"/>
      </div>
      <div class="form-group">
        <label>Shipping Price</label>
        <input class="form-control" v-model="priceObject.shippingPrice"/>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary" @click="closeModal" data-dismiss="modal">Close
      </button>
      <button type="button" class="btn btn-sm btn-primary" @click="validatePrice">Check
      </button>
    </div>
  </div>
</template>
<script>
import Modal from "../Layouts/Modal";

export default {
  props: ['data'],
  components: {Modal},
  data() {
    return {
      error: false,
      message: '',
      priceObject: {
        supplierPrice: 0,
        shippingPrice: 0,
        formula: this.data
      }
    }
  },
  methods: {
    validatePrice: async function () {
      var response = await this.$root.sendRequest('/items/get-selling-price', true, 'POST', this.priceObject);
      if (response.error == '0' && response.message !== undefined && response.message.length > 0) {
        alert(response.message);
      }
    },
    closeModal: function () {
      this.$parent.closeModal();
    }
  },
  mounted() {
    if (this.data.supplier_tax.length == 0 || this.data.walmart_fee.length == 0 || this.data.margin.length == 0 || this.data.selling_fees.length == 0) {
      this.error = true;
      this.message = 'Invalid supplier tax or walmart fee or margin or selling fees';
    }
  }
}
</script>
