<template>
    <div>
        <div class="modal-body">
            <div class="alert alert-warning" v-if="errors.length > 0">
                <div v-for="err in errors" v-html="err"></div>
            </div>
            <div class="alert alert-info" v-if="success !== ''">{{ success }}</div>
            Are you sure you want to delete this item ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" @click="closeModal" data-dismiss="modal">No
            </button>
            <button type="button" @click="deleteItem" class="btn btn-sm btn-primary">Yes</button>
        </div>
    </div>
</template>
<script>
export default {
    props: ['id'],
    data() {
        return {
            itemDetails: {
                id: ''
            },
            errors: [],
            success: ''
        }
    },
    methods: {
        closeModal: function () {
            this.$emit('event');
        },
        deleteItem: async function () {
            this.errors = [];
            this.success = "";
            this.itemDetails.id = this.id;
            var response = await this.$root.sendRequest('/items/delete-item',true, 'DELETE',this.itemDetails);
            if (response.errors !== undefined) {
                for (const item in response.errors) {
                    this.errors.push(response.errors[item][0]);
                }
            } if (response.error == '0' && response.message !== undefined) {
                this.success = response.message;
                setTimeout(() => {
                    this.success = '';
                    window.location.reload();
                }, 3000)
            }
        }
    },
    created() {
    },
    mounted() {

    }
}
</script>
