<template>
    <div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Supplier Item Id</th>
                    <th>Supplier</th>
                    <th>Walmart Sku</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="queueItems in data">
                    <td>{{ queueItems['supplier_item_id'] }}</td>
                    <td>{{ queueItems['supplier_name'] }}</td>
                    <td>{{ queueItems['walmart_sku'] }}</td>
                    <td>
                        <router-link :to="{name:'edititem',params:{id:queueItems['id']}}">
                            <button class="btn btn-primary btn-sm" data-dismiss="modal">Edit</button>
                        </router-link>
                        <button class="btn btn-warning btn-sm" @click="DeleteItemModal(queueItems['id'])">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" @click="closeModal" data-dismiss="modal">Close
            </button>
        </div>
    </div>
</template>
<script>
import Modal from "../Layouts/Modal";

export default {
    props: ['data'],
    components:{Modal},
    data() {
        return {}
    },
    methods: {
        closeModal: function () {
            this.$parent.closeModal();
        },
        DeleteItemModal:function(id){
            this.$emit('event', id);
        }
    },
    mounted() {
    }
}
</script>
