.form-group select{
    padding: 0px 10px 0px 10px !important;
}
.form-group .form-control{
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ced4da;
    height: calc(1.2em + 1rem);
}
.form-control:focus{
    background-image:none;
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mr5{
    margin-right: 5px;
}
body, .pcoded-main-container {
    background: #ffffff !important;
}
.table-bordered {
    border: 0px;
}
.sticky {
    position: sticky;
    width: 100%;
}
.table thead th {
    padding: 5px 10px 5px 10px;
    text-transform: inherit;
}
.table-header-sorting{
    cursor: pointer;
}
.laravel-vue-datatable-tbody {
    font-size: 12px;
}
.table thead th{
    font-size: 12px;
}
button{
    font-size: 12px !important;
}
input, select{
    font-size: 12px !important;
}
a{
    text-decoration: none;
    color:black
}
.items_table_columns .vs__dropdown-option--selected{
    background-color: #80808070;
}
.items_table_columns .vs__dropdown-option:hover{
    background: #5897fb;
    color: #fff;
}
.items_table_columns .vs__dropdown-option--highlight{
    color: black;
}

