<template>
    <center>
        <router-link :to="{name:'profit formula'}">
            <button class="btn  btn-sm" v-bind:class="isMenuActive('profit formula',$route.name)">Profit Formula</button>
        </router-link>
        <router-link :to="{name:'selling price formula'}">
            <button class="btn  btn-sm" v-bind:class="isMenuActive('selling price formula',$route.name)">Selling Price Formula</button>
        </router-link>
    </center>
</template>
<script>
export default {
    data() {
        return {
            isMenuActive: function (property, route) {
                return route == property ? 'btn-primary' : 'btn-secondary';
            }
        }
    }
}
</script>
