<template>
    <center>
        <router-link :to="{name:'walmart marketplace'}">
            <button class="btn  btn-sm" v-bind:class="isMenuActive('walmart marketplace',$route.name)">Walmart</button>
        </router-link>
        <router-link :to="{name:'amazon marketplace'}">
            <button class="btn  btn-sm" v-bind:class="isMenuActive('amazon marketplace',$route.name)">Amazon</button>
        </router-link>
    </center>
</template>
<script>
export default {
    data() {
        return {
            isMenuActive: function (property, route) {
                return route == property ? 'btn-primary' : 'btn-secondary';
            }
        }
    }
}
</script>
