<template>
    <div class="modal fade" :id="name"
         data-backdrop="static" data-keyboard="false"
         tabindex="-1" role="dialog" style="z-index: 99999999999;">
        <div class="modal-dialog" v-bind:class="is_big_popup()" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">{{ ModalComponent.title }}</h5>
                    <button type="button" class="close" @click="closeModal" data-dismiss="modal"
                            aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                </div>
                <component :is="ModalComponent.Component" @event="handler" :id="id" :data="data">
                </component>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ["ModalComponent", 'id', 'name', 'data', 'is_big_modal'],
    methods: {
        closeModal: function () {
            this.$parent.closeModal();
        },
        handler: function (params) {
            this.$emit('event', params)
        },
        is_big_popup: function () {
            if (this.is_big_modal !== undefined && this.is_big_modal === true)
                return 'modal-lg';
        }
    }
}
</script>
