<template>
    <nav class="pcoded-navbar theme-horizontal menu-light brand-blue">
        <div class="navbar-wrapper container">
            <div class="navbar-content sidenav-horizontal" id="layout-sidenav">
                <ul class="nav pcoded-inner-navbar sidenav-inner">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item ">
                        <router-link :to="{name:'dashboard'}">
                            <a href="" class="nav-link" v-bind:class="isMenuActive(['dashboard'],$route.name)">
                                <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                <span class="pcoded-mtext">Dashboard</span>
                            </a>
                        </router-link>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"
                           v-bind:class="isMenuActive(['allitems','additem'],$route.name)"><span
                            class="pcoded-micon"><i
                            class="feather icon-cloud-snow"></i></span><span class="pcoded-mtext">Items</span></a>
                        <ul class="pcoded-submenu">
                            <li>
                                <router-link :to="{name:'allitems'}">
                                    <a href="">All Items</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name:'additem'}">
                                    <a href="">Add Item</a>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link"
                           v-bind:class="isMenuActive(['settings','profit formula'],$route.name)"><span
                            class="pcoded-micon"><i
                            class="feather icon-cpu"></i></span><span class="pcoded-mtext">Settings</span></a>
                        <ul class="pcoded-submenu">
                            <li>
                                <router-link :to="{name:'settings'}">
                                    <a href="">All Settings</a>
                                </router-link>
                                <router-link :to="{name:'profit formula'}">
                                    <a href="">Formulas</a>
                                </router-link>
                                <router-link :to="{name:'walmart marketplace'}">
                                    <a href="">Market Places</a>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
export default {
    data() {
        return {
            isMenuActive: function (property, route) {
                return this.$root.inArray(route, property) ? 'activeMenu' : '';
            }
        }
    }
}
</script>

