<template>
    <center>
        <router-link :to="{name:'settings'}">
            <button class="btn  btn-sm" v-bind:class="isMenuActive(['settings'],$route.name)">General Settings</button>
        </router-link>
        <router-link :to="{name:'profit formula'}">
            <button class="btn btn-sm" v-bind:class="isMenuActive(['profit formula','selling price formula'],$route.name)">Formulas
            </button>
        </router-link>
        <router-link :to="{name:'walmart marketplace'}">
            <button class="btn btn-sm"
                    v-bind:class="isMenuActive(['walmart marketplace','amazon marketplace'],$route.name)">Market Places
            </button>
        </router-link>
    </center>
</template>
<script>
export default {
    data() {
        return {
            isMenuActive: function (property, route) {
                return this.$root.inArray(route, property) ? 'btn-primary' : 'btn-secondary';
            }
        }
    }
}
</script>
